body{
    background-image: url(../static/images/WhatsApp\ Image\ 2024-05-14\ at\ 11.34.14_a6df5c05.jpg ); }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.button{
    background-color:  darkblue;
    color: white;
    border: none;
    height: 25px;
    width: 100px;
    font-weight: bold;
}

h1 {
	color : white;
}


h2{
	color: white;

}


p{
	color:white;
}

#content{
    margin: auto;
    width: 1000px;
    text-align: center;
    padding-bottom: 30px;
}

th{
	color: white;
}




table{
    margin-left: center;
    margin-right: center;
    width: 50%;

}

#navbar
{
  position: relative;
}

#navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar ul li
{
    float: left;
}

#navbar ul li a
{
    display: block;
    color: white;
    border-radius: 5px 5px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
